# Importing packages & reading the data file

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [3]:
data=pd.read_csv('data\kc_house_data.csv')

# Exploring the data

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.8+ MB

In [6]:
wt=data.loc[(data['waterfront']=='YES')]

# The assumptions of linear regression

Checking if the relationship is linear

In [7]:
x= data.drop(columns=['price','id'])
y = data['price']

In [8]:
dp=pd.concat([x,y],axis=1)

In [9]:
dp.corr().price.sort_values(ascending=False)

price            1.000000
sqft_living      0.608521
sqft_above       0.538651
bathrooms        0.480401
sqft_patio       0.313409
bedrooms         0.289204
sqft_garage      0.264169
sqft_basement    0.245058
floors           0.180576
yr_built         0.096013
sqft_lot         0.085730
yr_renovated     0.084786
lat              0.063632
long            -0.022509
Name: price, dtype: float64

In [28]:
data['grade'].value_counts()

7 Average        11697
8 Good            9410
9 Better          3806
6 Low Average     2858
10 Very Good      1371
11 Excellent       406
5 Fair             393
12 Luxury          122
4 Low               51
13 Mansion          24
3 Poor              13
1 Cabin              2
2 Substandard        2
Name: grade, dtype: int64

In [11]:
y= data['price']
X = pd.get_dummies(data[['grade']])
model= sm.OLS(y,sm.add_constant(X)).fit()

In [12]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.410
Model:                            OLS   Adj. R-squared:                  0.409
Method:                 Least Squares   F-statistic:                     1608.
Date:                Sun, 12 Feb 2023   Prob (F-statistic):               0.00
Time:                        21:30:34   Log-Likelihood:            -4.4815e+05
No. Observations:               30155   AIC:                         8.963e+05
Df Residuals:                   30141   BIC:                         8.964e+05
Df Model:                          13
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                2.748e+16   6.66e+16      0.413      0.680   -1.03e+17    1.58e+17
grade_1 Cabin       -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_10 Very Good  -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_11 Excellent  -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_12 Luxury     -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_13 Mansion    -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_2 Substandard -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_3 Poor        -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_4 Low         -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_5 Fair        -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_6 Low Average -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_7 Average     -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_8 Good        -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
grade_9 Better      -2.748e+16   6.66e+16     -0.413      0.680   -1.58e+17    1.03e+17
==============================================================================
Omnibus:                    40471.349   Durbin-Watson:                   1.861
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         32419440.426
Skew:                           7.183   Prob(JB):                         0.00
Kurtosis:                     162.987   Cond. No.                     7.13e+13
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.64e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [13]:
nice_houses=data.drop(data[data.grade.isin(["5 Fair", "4 Low", "3 Poor", "2 Substandard", "1 Cabin"])].index)

In [14]:
nice_houses=data.drop(columns='id')

In [15]:
nice_houses.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,nuisance,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,YES,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,YES,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

In [16]:
renovated=data.drop(data[data.yr_renovated.isin(["0"])].index)

In [17]:
x=renovated['yr_renovated']
y=renovated['price']
np.corrcoef(x,y)

array([[1.        , 0.09010822],
       [0.09010822, 1.        ]])

In [18]:
no_price=data.loc[(data['price']==0)]

In [19]:
no_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             0 non-null      int64
 1   date           0 non-null      object
 2   price          0 non-null      float64
 3   bedrooms       0 non-null      int64
 4   bathrooms      0 non-null      float64
 5   sqft_living    0 non-null      int64
 6   sqft_lot       0 non-null      int64
 7   floors         0 non-null      float64
 8   waterfront     0 non-null      object
 9   greenbelt      0 non-null      object
 10  nuisance       0 non-null      object
 11  view           0 non-null      object
 12  condition      0 non-null      object
 13  grade          0 non-null      object
 14  heat_source    0 non-null      object
 15  sewer_system   0 non-null      object
 16  sqft_above     0 non-null      int64
 17  sqft_basement  0 non-null      int64
 18  sqft_garage    0 non-null      int64
 19  sqft_patio     0 non-null      int64
 20  yr_built       0 non-null      int64
 21  yr_renovated   0 non-null      int64
 22  address        0 non-null      object
 23  lat            0 non-null      float64
 24  long           0 non-null      float64
dtypes: float64(5), int64(10), object(10)
memory usage: 0.0+ bytes

In [20]:
nice_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           30155 non-null  object
 1   price          30155 non-null  float64
 2   bedrooms       30155 non-null  int64
 3   bathrooms      30155 non-null  float64
 4   sqft_living    30155 non-null  int64
 5   sqft_lot       30155 non-null  int64
 6   floors         30155 non-null  float64
 7   waterfront     30155 non-null  object
 8   greenbelt      30155 non-null  object
 9   nuisance       30155 non-null  object
 10  view           30155 non-null  object
 11  condition      30155 non-null  object
 12  grade          30155 non-null  object
 13  heat_source    30123 non-null  object
 14  sewer_system   30141 non-null  object
 15  sqft_above     30155 non-null  int64
 16  sqft_basement  30155 non-null  int64
 17  sqft_garage    30155 non-null  int64
 18  sqft_patio     30155 non-null  int64
 19  yr_built       30155 non-null  int64
 20  yr_renovated   30155 non-null  int64
 21  address        30155 non-null  object
 22  lat            30155 non-null  float64
 23  long           30155 non-null  float64
dtypes: float64(5), int64(9), object(10)
memory usage: 5.5+ MB

In [21]:
data.loc[(data['bathrooms']!=0)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,7834800180,11/30/2021,1555000.0,5,2.0,1910,4000,1.5,NO,NO,...,PUBLIC,1600,1130,0,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",47.664740,-122.32940
30151,194000695,6/16/2021,1313000.0,3,2.0,2020,5800,2.0,NO,NO,...,PUBLIC,2020,0,0,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",47.565610,-122.38851
30152,7960100080,5/27/2022,800000.0,3,2.0,1620,3600,1.0,NO,NO,...,PUBLIC,940,920,240,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",47.610395,-122.29585
30153,2781280080,2/24/2022,775000.0,3,2.5,2570,2889,2.0,NO,NO,...,PUBLIC,1830,740,480,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",47.449490,-122.18908
30154,9557800100,4/29/2022,500000.0,3,1.5,1200,11058,1.0,NO,NO,...,PUBLIC,1200,0,420,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",47.435840,-122.32634

# Zip Code

In [22]:
#EXTRACTING THE ZIP CODES FROM THE ADDRESS COLUMN
zip_codes = data['address'].str.extract(r'(\d{5}\-?\d{0,4})')
data['zip_codes']=zip_codes

In [23]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long,zip_codes
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052,98055
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591,11231
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520,98178
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020,98118
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188,98027

# Top 25 lists based on zip code

In [24]:
most_diverse=[98188,98108,98030,98118,98178,98168,98003,98032,98148,98057,98106,98144,98031,98055,98198,98146,98023,98056,98002,98047,98125,98092,98133,98007,98058]

In [25]:
list_livingcost_zip = [98074, 98065, 98019, 98052, 98077, 98029, 98075, 98010, 98038, 98053, 98028, 98005, 98033, 98034, 98004, 98042, 98006, 98007, 98011, 98045, 98121, 98092, 98039, 98008, 98059]

In [26]:
top_SD = [98004, 98005, 98007, 98008, 98039, 98052, 98074, 98033, 98006, 98053, 98034, 98075, 98029, 98027, 98011, 98040, 98028, 98072, 98077, 98059, 98155, 98038, 98024, 98065, 98177]

# Nice houses DF

In [32]:
nice_houses = data.drop(data[data.grade.isin(["5 Fair", "4 Low", "3 Poor", "2 Substandard", "1 Cabin"])].index)
nice_houses = nice_houses.loc[(nice_houses['bedrooms']!=0)]
nice_houses = nice_houses.loc[(nice_houses['bathrooms']!=0)]
nice_houses.drop(columns= ['lat', 'long', 'id'], inplace=True)
nice_houses['zip'] = nice_houses['address'].str.extract(r'(\d{5}-?\d{0,4})')
top_school_districts = ['98004', '98005', '98007', '98008', '98039', '98052', '98074', '98033', '98006', '98053', '98034', '98075', '98029', '98027', '98011', '98040', '98028', '98072', '98077', '98059', 
                        '98155', '98038', '98024', '98065', '98177']

nice_houses = nice_houses.loc[nice_houses['zip'].isin(top_school_districts)]
livingcost_zip_code = ['98074', '98065', '98019', '98052', '98077', '98029', '98075', '98010', '98038', '98053', '98028', 
                       '98005', '98033', '98034', '98004', '98042', '98006', '98007', '98011', '98045', '98121', '98092', '98039', '98008', '98059']

nice_houses = nice_houses.loc[nice_houses['zip'].isin(livingcost_zip_code)]